.ps-header-container555 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}
.ps-header-container556 {
  display: none;
}
.ps-header-container557 {
  display: contents;
}



.existing-ds-header-and-intro-container537 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.existing-ds-header-and-intro-container538 {
  width: 1000px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-bottom: 30px;
  flex-direction: column;
  justify-content: center;
}
.existing-ds-header-and-intro-text681 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  font-size: 60px;
  margin-top: 40px;
  font-family: "Arial";
  margin-bottom: 40px;
  letter-spacing: -2px;
}
.existing-ds-header-and-intro-text682 {
  fill: transparent;
  color: #333332;
  font-size: 18px;
  text-align: center;
  font-family: "Arial";
  margin-bottom: 30px;
}


.existing-ds-list-item-with-icon-container558 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.existing-ds-list-item-with-icon-container559 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  flex-direction: row;
  justify-content: flex-start;
}
.existing-ds-list-item-with-icon-image85 {
  width: 24px;
  margin-top: 3px;
  object-fit: cover;
}
.existing-ds-list-item-with-icon-text715 {
  fill: #5C5C5B;
  color: #5C5C5B;
  font-size: 18px;
  font-family: "Arial";
  line-height: 30px;
  margin-left: 20px;
}
.existing-ds-list-item-with-icon-text716 {
  font-style: normal;
  font-weight: 700;
}
.existing-ds-list-item-with-icon-root-class-name {
  width: auto;
}
.existing-ds-list-item-with-icon-root-class-name1 {
  width: auto;
}
.existing-ds-list-item-with-icon-root-class-name2 {
  width: auto;
}
.existing-ds-list-item-with-icon-root-class-name3 {
  width: auto;
}

.existing-ds-primary-button-light-container541 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.existing-ds-primary-button-light-buttons4 {
  gap: 10px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  flex-shrink: 0;
  border-width: 0px;
  border-radius: 100px;
  justify-content: center;
  background-color: var(--dl-color-default-orange1ff6633);
}
.existing-ds-primary-button-light-text686 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}


.footer-column-title-container554 {
  display: flex;
  position: relative;
}
.footer-column-title-text714 {
  font-size: 13px;
  margin-top: 8px;
  font-weight: bold;
  margin-bottom: 8px;
}
.footer-column-title-root-class-name {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer-column-title-root-class-name1 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer-column-title-root-class-name2 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer-column-title-root-class-name3 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer-column-title-root-class-name4 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}

.twitter-button-container572 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.twitter-button-frame56224 {
  gap: 10px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 2px 20px;
  align-items: center;
  border-color: rgba(0, 172, 238, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
}
.twitter-button-frame56264 {
  gap: 5px;
  display: flex;
  align-items: center;
}
.twitter-button-twitterand-xlogossvg14 {
  width: 18px;
  height: 14px;
}
.twitter-button-text731 {
  fill: rgba(0, 172, 238, 1);
  color: rgba(0, 172, 238, 1);
  font-size: 14px;
  font-family: "Arial";
  line-height: 24px;
}
.twitter-button-root-class-name {
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer1-container528 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  padding-bottom: 32px;
  justify-content: center;
  background-color: #ffffff;
  border-top-width: 3px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer1-main09 {
  flex: 0 0 auto;
  width: 1140px;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: 280px;
  margin-right: 280px;
  flex-direction: column;
}
.footer1-container529 {
  width: 1140px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer1-container530 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.footer1-container531 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer1-text660 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text661 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text662 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-container532 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer1-text663 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text664 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text665 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text666 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text667 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text668 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-container533 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer1-text669 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text670 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text671 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-container534 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer1-text672 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text673 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text674 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text675 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text676 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-container535 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer1-text677 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text678 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text679 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-container536 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer1-image75 {
  width: 181px;
  height: 38px;
  object-fit: cover;
  text-decoration: none;
}
.footer1-text680 {
  fill: var(--dl-color-default-texttertiary);
  color: var(--dl-color-default-texttertiary);
  margin-top: 5px;
}

@media(max-width: 1600px) {
  .footer1-text680 {
    fill: #999998ff;
    color: #999998ff;
  }
}

.enterprise-pricing-current-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-default-enterprise6);
}
.enterprise-pricing-current-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fbfbfb;
}
.enterprise-pricing-current-container2 {
  flex: 0;
  width: 1140px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: flex-start;
}
.enterprise-pricing-current-text {
  fill: #333332;
  color: #333332;
  width: auto;
  font-family: "Arial";
  margin-right: 50px;
}
.enterprise-pricing-current-text01 {
  fill: #333332;
  color: #333332;
  width: auto;
  font-family: "Arial";
  margin-right: 50px;
}
.enterprise-pricing-current-text02 {
  fill: #333332;
  color: #333332;
  width: auto;
  font-family: "Arial";
  margin-right: 50px;
}
.enterprise-pricing-current-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-right: 50px;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-text03 {
  fill: #333332;
  color: rgb(51, 51, 50);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Arial";
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.enterprise-pricing-current-dropdown-arrow {
  transition: 0.3s;
}
.enterprise-pricing-current-icon {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.enterprise-pricing-current-dropdown-list {
  top: 0px;
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-default-white);
  list-style-position: inside;
}
.enterprise-pricing-current-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle01:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown01 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle02:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown02 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle03:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text08 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown03 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle04 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle04:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown04 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown05 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-right: 50px;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-text10 {
  fill: #333332;
  color: rgb(51, 51, 50);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Arial";
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.enterprise-pricing-current-dropdown-arrow1 {
  transition: 0.3s;
}
.enterprise-pricing-current-icon2 {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.enterprise-pricing-current-dropdown-list1 {
  top: 0px;
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  border-top: 1px solid #FF6633;
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  align-items: stretch;
  margin-left: 0px;
  border-color: #D9D9D9;
  border-width: 1px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-default-white);
  list-style-position: inside;
}
.enterprise-pricing-current-dropdown06 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  margin: 0px;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle06:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text13 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown07 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle07:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text14 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown08 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle08:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text15 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown09 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle09:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text16 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown10 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle10:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text17 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown11 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle11:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text18 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown12 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle12 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle12:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text19 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown13 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle13 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle13:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text20 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown14 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle14 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle14:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text21 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-text22 {
  fill: #333332;
  color: rgb(51, 51, 50);
  width: auto;
  font-family: "Arial";
  margin-right: 50px;
}
.enterprise-pricing-current-container3 {
  width: 1100px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-default-white);
}
.enterprise-pricing-current-container4 {
  flex: 0 0 auto;
  width: 538px;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: column;
}
.enterprise-pricing-current-container5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.enterprise-pricing-current-text23 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  font-size: 22px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
  margin-bottom: 30px;
}
.enterprise-pricing-current-image {
  width: 562px;
  height: 616px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
