.mega-nav-wrapper {
  display: contents;
}
.mega-nav-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}
.mega-nav-container2 {
  display: none;
}
.mega-nav-container3 {
  display: contents;
}



.existing-ds-header-and-intro-wrapper {
  display: contents;
}
.existing-ds-header-and-intro-container1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.existing-ds-header-and-intro-container2 {
  width: 1000px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-bottom: 30px;
  flex-direction: column;
  justify-content: center;
}
.existing-ds-header-and-intro-text1 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  font-size: 60px;
  margin-top: 40px;
  font-family: "Arial";
  margin-bottom: 40px;
  letter-spacing: -2px;
}
.existing-ds-header-and-intro-text2 {
  fill: transparent;
  color: #333332;
  font-size: 18px;
  text-align: center;
  font-family: "Arial";
  margin-bottom: 30px;
}


.existing-ds-list-item-with-icon-wrapper {
  display: contents;
}
.existing-ds-list-item-with-icon-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.existing-ds-list-item-with-icon-container2 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  flex-direction: row;
  justify-content: flex-start;
}
.existing-ds-list-item-with-icon-image {
  width: 24px;
  margin-top: 3px;
  object-fit: cover;
}
.existing-ds-list-item-with-icon-text1 {
  fill: #5C5C5B;
  color: #5C5C5B;
  font-size: 18px;
  font-family: "Arial";
  line-height: 30px;
  margin-left: 20px;
}
.existing-ds-list-item-with-icon-text2 {
  font-style: normal;
  font-weight: 700;
}
.existing-ds-list-item-with-iconroot-class-name {
  width: auto;
}
.existing-ds-list-item-with-iconroot-class-name1 {
  width: auto;
}
.existing-ds-list-item-with-iconroot-class-name2 {
  width: auto;
}
.existing-ds-list-item-with-iconroot-class-name3 {
  width: auto;
}

.existing-ds-primary-button-light-wrapper {
  display: contents;
}
.existing-ds-primary-button-light-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.existing-ds-primary-button-light-buttons {
  gap: 10px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  flex-shrink: 0;
  border-width: 0px;
  border-radius: 100px;
  justify-content: center;
  background-color: var(--dl-color-default-orange1ff6633);
}
.existing-ds-primary-button-light-text {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
}


.footer-column-title-wrapper {
  display: contents;
}
.footer-column-title-container {
  display: flex;
  position: relative;
}
.footer-column-title-text {
  font-size: 13px;
  margin-top: 8px;
  font-weight: bold;
  margin-bottom: 8px;
}
.footer-column-titleroot-class-name {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer-column-titleroot-class-name1 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer-column-titleroot-class-name2 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer-column-titleroot-class-name3 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer-column-titleroot-class-name4 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}

.twitter-button-wrapper {
  display: contents;
}
.twitter-button-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.twitter-button-frame5622 {
  gap: 10px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 2px 20px;
  align-items: center;
  border-color: rgba(0, 172, 238, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
}
.twitter-button-frame5626 {
  gap: 5px;
  display: flex;
  align-items: center;
}
.twitter-button-twitterand-xlogossvg1 {
  width: 18px;
  height: 14px;
}
.twitter-button-text {
  fill: rgba(0, 172, 238, 1);
  color: rgba(0, 172, 238, 1);
  font-size: 14px;
  font-family: "Arial";
  line-height: 24px;
}
.twitter-buttonroot-class-name {
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer1-wrapper {
  display: contents;
}
.footer1-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  padding-bottom: 32px;
  justify-content: center;
  background-color: #ffffff;
  border-top-width: 3px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer1-main {
  flex: 0 0 auto;
  width: 1140px;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: 280px;
  margin-right: 280px;
  flex-direction: column;
}
.footer1-container2 {
  width: 1140px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer1-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.footer1-container4 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer1-text10 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text11 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text12 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-container5 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer1-text13 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text14 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text15 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text16 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text17 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text18 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-container6 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer1-text19 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text20 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text21 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-container7 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer1-text22 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text23 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text24 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text25 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text26 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-container8 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer1-text27 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text28 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text29 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-container9 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer1-image {
  width: 181px;
  height: 38px;
  object-fit: cover;
  text-decoration: none;
}
.footer1-text30 {
  fill: var(--dl-color-default-texttertiary);
  color: var(--dl-color-default-texttertiary);
  margin-top: 5px;
}

@media(max-width: 1600px) {
  .footer1-text30 {
    fill: #999998ff;
    color: #999998ff;
  }
}

.enterprise-pricing-current-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-default-enterprise6);
}
.enterprise-pricing-current-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fbfbfb;
}
.enterprise-pricing-current-container3 {
  flex: 0;
  width: 1140px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: flex-start;
}
.enterprise-pricing-current-text10 {
  fill: #333332;
  color: #333332;
  width: auto;
  font-family: "Arial";
  margin-right: 50px;
}
.enterprise-pricing-current-text11 {
  fill: #333332;
  color: #333332;
  width: auto;
  font-family: "Arial";
  margin-right: 50px;
}
.enterprise-pricing-current-text12 {
  fill: #333332;
  color: #333332;
  width: auto;
  font-family: "Arial";
  margin-right: 50px;
}
.enterprise-pricing-current-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-right: 50px;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-text13 {
  fill: #333332;
  color: rgb(51, 51, 50);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Arial";
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.enterprise-pricing-current-dropdown-arrow1 {
  transition: 0.3s;
}
.enterprise-pricing-current-icon1 {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.enterprise-pricing-current-dropdown-list1 {
  top: 0px;
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-default-white);
  list-style-position: inside;
}
.enterprise-pricing-current-dropdown10 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle11:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text16 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown11 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle12 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle12:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text17 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown12 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle13 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle13:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text18 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown13 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle14 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle14:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text19 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown14 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown15 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-right: 50px;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle15 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-text20 {
  fill: #333332;
  color: rgb(51, 51, 50);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Arial";
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.enterprise-pricing-current-dropdown-arrow2 {
  transition: 0.3s;
}
.enterprise-pricing-current-icon3 {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.enterprise-pricing-current-dropdown-list2 {
  top: 0px;
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  border-top: 1px solid #FF6633;
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  align-items: stretch;
  margin-left: 0px;
  border-color: #D9D9D9;
  border-width: 1px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-default-white);
  list-style-position: inside;
}
.enterprise-pricing-current-dropdown16 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle16 {
  fill: #595959;
  color: #595959;
  width: 100%;
  margin: 0px;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle16:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text23 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown17 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle17 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle17:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text24 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown18 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle18 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle18:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text25 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown19 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle19 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle19:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text26 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown20 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle20 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle20:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text27 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown21 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle21 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle21:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text28 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown22 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle22 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle22:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text29 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown23 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle23 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-bottom: 1px solid #EAEAEA;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle23:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text30 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-dropdown24 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enterprise-pricing-current-dropdown-toggle24 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enterprise-pricing-current-dropdown-toggle24:hover {
  fill: #fff;
  color: #595959;
  background-color: #EAEAEA;
}
.enterprise-pricing-current-text31 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enterprise-pricing-current-text32 {
  fill: #333332;
  color: rgb(51, 51, 50);
  width: auto;
  font-family: "Arial";
  margin-right: 50px;
}
.enterprise-pricing-current-container4 {
  width: 1100px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-default-white);
}
.enterprise-pricing-current-container5 {
  flex: 0 0 auto;
  width: 538px;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: column;
}
.enterprise-pricing-current-container6 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.enterprise-pricing-current-text33 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  font-size: 22px;
  font-style: normal;
  font-family: "Arial";
  font-weight: 700;
  margin-bottom: 30px;
}
.enterprise-pricing-current-image {
  width: 562px;
  height: 616px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
