.mega-nav-wrapper {
  display: contents;
}
.mega-nav-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}
.mega-nav-container2 {
  display: none;
}
.mega-nav-container3 {
  display: contents;
}



.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
