.header-dark-wrapper {
  display: contents;
}
.header-dark-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.header-dark-default-header {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 12px 0;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.header-dark-logos-portswigger {
  width: 249px;
  height: 42px;
}
.header-dark-navigation {
  gap: 40px;
  display: flex;
  align-items: center;
}
.header-dark-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-dark-text1 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  margin-right: var(--dl-space-space-halfunit);
}
.header-dark-chevron-down1 {
  width: 16px;
  height: 16px;
}
.header-dark-container3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-dark-text2 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  margin-right: var(--dl-space-space-halfunit);
}
.header-dark-chevron-down2 {
  width: 16px;
  height: 16px;
  background-size: cover;
  background-image: url("public/chevron%20down.svg");
}
.header-dark-text3 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  margin-right: 0px;
}
.header-dark-text4 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  margin-right: 0px;
}
.header-dark-container4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-dark-text5 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  margin-right: var(--dl-space-space-halfunit);
}
.header-dark-chevron-down3 {
  width: 16px;
  height: 16px;
}
.header-dark-container5 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-dark-text6 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  margin-right: var(--dl-space-space-halfunit);
}
.header-dark-chevron-down4 {
  width: 16px;
  height: 16px;
}
.header-darkroot-class-name {
  margin-top: 32px;
  margin-bottom: 32px;
}
.header-darkroot-class-name1 {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #3098F0;
}
.header-darkroot-class-name2 {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #3098F0;
}
.header-darkroot-class-name3 {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #635CD5;
}
.header-darkroot-class-name4 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.header-darkroot-class-name5 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.header-darkroot-class-name6 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.header-darkroot-class-name7 {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #3098F0;
}

.primary-button-light-wrapper {
  display: contents;
}
.primary-button-light-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.primary-button-light-button {
  gap: 8px;
  width: auto;
  height: auto;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  flex-shrink: 0;
  border-width: 0px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 102, 51, 1);
}
.primary-button-light-chevron-right {
  width: 16px;
  height: 16px;
}
.hero-banner-dark-fragment {
  display: contents;
}
.hero-banner-dark-text3 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  font-stretch: normal;
  letter-spacing: 0em;
}
.primary-button-lightroot-class-name {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-lightroot-class-name1 {
  width: 100%;
}
.primary-button-lightroot-class-name2 {
  width: 100%;
}

.primary-button-lightroot-class-name4 {
  width: 100%;
}

.primary-button-lightroot-class-name6 {
  width: 100%;
}
.primary-button-lightroot-class-name7 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-lightroot-class-name10 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-lightroot-class-name11 {
  margin-bottom: 80px;
}
.primary-button-lightroot-class-name12 {
  margin-bottom: 80px;
}
.primary-button-lightroot-class-name13 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-lightroot-class-name14 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-lightroot-class-name15 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-lightroot-class-name16 {
  margin-bottom: 80px;
}
.primary-button-lightroot-class-name17 {
  margin-bottom: 80px;
}








@media(max-width: 360px) {
  .primary-button-light-container {
    width: 100%;
  }
}

.hero-banner-dark-wrapper {
  display: contents;
}
.hero-banner-dark-container1 {
  width: 1140px;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.hero-banner-dark-container2 {
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.hero-banner-dark-container3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits);
  padding-right: 40px;
  flex-direction: column;
}
.hero-banner-dark-text1 {
  fill: var(--dl-color-text-white);
  color: var(--dl-color-text-white);
  width: 100%;
  align-self: flex-start;
  text-align: left;
  margin-bottom: 20px;
}
.hero-banner-dark-text2 {
  fill: var(--dl-color-text-white);
  color: var(--dl-color-text-white);
  text-align: left;
  margin-bottom: 20px;
}
.hero-banner-dark-fragment {
  display: contents;
}
.hero-banner-dark-text3 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  font-stretch: normal;
  letter-spacing: 0em;
}
.hero-banner-dark-tasksubmenu2 {
  width: 461px;
  height: 374px;
}

.hero-banner-darkroot-class-name1 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-fiveunits);
}

.star-rating-white-wrapper {
  display: contents;
}
.star-rating-white-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
}
.star-rating-white-frame5148 {
  gap: 8px;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.star-rating-white-frame5147 {
  width: 120px;
  height: 24px;
}
.star-rating-white-text {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  text-align: center;
}
.star-rating-whiteroot-class-name {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name1 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name2 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name3 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name4 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name5 {
  width: 225px;
}
.star-rating-whiteroot-class-name6 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name7 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name8 {
  width: 225px;
}



.star-rating-whiteroot-class-name12 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name13 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name14 {
  width: 225px;
}
.star-rating-whiteroot-class-name15 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name16 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name17 {
  width: 225px;
}
.star-rating-whiteroot-class-name18 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name19 {
  width: 100%;
  align-self: center;
}
.star-rating-whiteroot-class-name20 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name21 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name22 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name23 {
  width: 100%;
  align-self: center;
}
.star-rating-whiteroot-class-name24 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name25 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name26 {
  width: 100%;
  align-self: center;
}
.star-rating-whiteroot-class-name27 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name28 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name29 {
  width: 100%;
  align-self: center;
}
.star-rating-whiteroot-class-name30 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name31 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name32 {
  width: 225px;
}
.star-rating-whiteroot-class-name33 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name34 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name35 {
  width: 100%;
  align-self: center;
}
.star-rating-whiteroot-class-name36 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name37 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name38 {
  width: 225px;
}
.star-rating-whiteroot-class-name39 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name40 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name41 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name42 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name43 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name44 {
  width: 100%;
  align-self: center;
}
.star-rating-whiteroot-class-name45 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name46 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name47 {
  width: 100%;
  align-self: center;
}
@media(max-width: 360px) {
  .star-rating-whiteroot-class-name {
    width: 360px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .star-rating-whiteroot-class-name1 {
    width: 360px;
  }
  .star-rating-whiteroot-class-name2 {
    width: 360px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .star-rating-whiteroot-class-name39 {
    width: 360px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .star-rating-whiteroot-class-name40 {
    width: 360px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .star-rating-whiteroot-class-name41 {
    width: 360px;
  }
}

.icon-callout-set-of3-wrapper {
  display: contents;
}
.icon-callout-set-of3-container1 {
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  min-width: 250px;
  min-height: 100%;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  justify-content: flex-start;
}
.icon-callout-set-of3-magnifyingglass {
  width: 90px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.icon-callout-set-of3-frame4836 {
  gap: 10px;
  top: 47px;
  left: 0px;
  width: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.icon-callout-set-of3-group4832 {
  width: 56px;
  height: 32.61332321166992px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.icon-callout-set-of3-vector {
  top: 32.31059646606445px;
  left: 56.12603759765625px;
  width: 32px;
  height: 56px;
  position: absolute;
}
.icon-callout-set-of3-magnifyingglass1 {
  top: 0px;
  left: 0px;
  width: 90px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.icon-callout-set-of3-group4842 {
  top: 2.5px;
  left: 0px;
  width: 90px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.icon-callout-set-of3-text1 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  align-self: center;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.icon-callout-set-of3-container2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.icon-callout-set-of3-text2 {
  fill: var(--dl-color-text-text-linkorange);
  color: var(--dl-color-text-text-linkorange);
  margin-right: var(--dl-space-space-halfunit);
}
.icon-callout-set-of3-chevron-down {
  width: 16px;
  height: 16px;
}
.icon-callout-set-of3root-class-name {
  width: 100%;
  min-height: 100%;
}
.icon-callout-set-of3root-class-name1 {
  width: 100%;
  align-self: center;
}
.icon-callout-set-of3root-class-name2 {
  width: 100%;
}
.icon-callout-set-of3root-class-name3 {
  width: 100%;
  min-height: 100%;
}
.icon-callout-set-of3root-class-name4 {
  width: 100%;
  align-self: center;
}
.icon-callout-set-of3root-class-name5 {
  width: 100%;
}
.icon-callout-set-of3root-class-name6 {
  width: 100%;
  min-height: 100%;
}
.icon-callout-set-of3root-class-name7 {
  width: 100%;
  align-self: center;
}
.icon-callout-set-of3root-class-name8 {
  width: 100%;
}

.header-full-width-image-wrapper {
  display: contents;
}
.header-full-width-image-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  flex-direction: column;
  padding-bottom: 80px;
}
.header-full-width-image-text {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  width: 100%;
  align-self: center;
  text-align: center;
  margin-bottom: 40px;
}
.header-full-width-image-image {
  width: 1180px;
  height: 662px;
  object-fit: cover;
}
.header-full-width-imageroot-class-name {
  margin-top: 40px;
  background-color: var(--dl-color-backgrounds-purple5);
}
.header-full-width-imageroot-class-name1 {
  margin-top: 40px;
  background-color: var(--dl-color-backgrounds-purple5);
}
.header-full-width-imageroot-class-name2 {
  margin-top: 40px;
  background-color: var(--dl-color-backgrounds-purple5);
}

.accordion-blue-wrapper {
  display: contents;
}
.accordion-blue-faq8 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.accordion-blue-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.accordion-blue-container1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.accordion-blue-list {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.accordion-blue-faq1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.accordion-blue-trigger {
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-backgrounds-blue6);
}
.accordion-blue-trigger:hover {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
  background-color: var(--dl-color-backgrounds-blue5);
}
.accordion-blue-faq1-question {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-align: center;
}
.accordion-blue-icons-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.accordion-blue-icon1 {
  width: 24px;
  height: 24px;
}
.accordion-blue-icon3 {
  width: 24px;
  height: 24px;
}
.accordion-blue-container4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.accordion-blue-text {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.accordion-blueroot-class-name {
  margin-bottom: 20px;
}
.accordion-blueroot-class-name1 {
  margin-bottom: 20px;
}
.accordion-blueroot-class-name2 {
  margin-bottom: 20px;
}
.accordion-blueroot-class-name3 {
  margin-bottom: 20px;
}
.accordion-blueroot-class-name4 {
  margin-bottom: 20px;
}
.accordion-blueroot-class-name5 {
  margin-bottom: 20px;
}
.accordion-blueroot-class-name6 {
  margin-bottom: 20px;
}
.accordion-blueroot-class-name7 {
  margin-bottom: 20px;
}

.accordion-blueroot-class-name9 {
  margin-bottom: 20px;
}
.accordion-blueroot-class-name10 {
  margin-bottom: 20px;
}

.accordion-blueroot-class-name12 {
  margin-bottom: 20px;
}
.accordion-blueroot-class-name13 {
  margin-bottom: 20px;
}

.accordion-blueroot-class-name15 {
  margin-bottom: 20px;
}
.accordion-blueroot-class-name16 {
  margin-bottom: 20px;
}

.accordion-blueroot-class-name18 {
  margin-bottom: 20px;
}
.accordion-blueroot-class-name19 {
  margin-bottom: 20px;
}

.accordion-blueroot-class-name21 {
  margin-bottom: 20px;
}
.accordion-blueroot-class-name22 {
  margin-bottom: 20px;
}

.accordion-blueroot-class-name24 {
  margin-bottom: 20px;
}
.accordion-blueroot-class-name25 {
  margin-bottom: 20px;
}

.accordion-blueroot-class-name30 {
  margin-bottom: 20px;
}
.accordion-blueroot-class-name31 {
  margin-bottom: 20px;
}

@media(max-width: 991px) {
  .accordion-blue-container1 {
    flex-direction: column;
  }
}
@media(max-width: 360px) {
  .accordion-blue-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}

.accordion-white-wrapper {
  display: contents;
}
.accordion-white-faq8 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.accordion-white-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.accordion-white-container1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.accordion-white-list {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.accordion-white-faq1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.accordion-white-trigger {
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-default-white);
}
.accordion-white-trigger:hover {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
  background-color: var(--dl-color-backgrounds-blue5);
}
.accordion-white-faq1-question {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-align: center;
}
.accordion-white-icons-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.accordion-white-icon1 {
  width: 24px;
  height: 24px;
}
.accordion-white-icon3 {
  width: 24px;
  height: 24px;
}
.accordion-white-container4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.accordion-white-text {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.accordion-whiteroot-class-name {
  margin-bottom: 20px;
}
.accordion-whiteroot-class-name1 {
  margin-bottom: 20px;
}

.accordion-whiteroot-class-name3 {
  margin-bottom: 20px;
}

.accordion-whiteroot-class-name5 {
  margin-bottom: 20px;
}
.accordion-whiteroot-class-name6 {
  margin-bottom: 20px;
}
.accordion-whiteroot-class-name7 {
  margin-bottom: 20px;
}

.accordion-whiteroot-class-name9 {
  margin-bottom: 20px;
}
.accordion-whiteroot-class-name10 {
  margin-bottom: 20px;
}

.accordion-whiteroot-class-name12 {
  margin-bottom: 20px;
}
.accordion-whiteroot-class-name13 {
  margin-bottom: 20px;
}

.accordion-whiteroot-class-name15 {
  margin-bottom: 20px;
}
.accordion-whiteroot-class-name16 {
  margin-bottom: 20px;
}

@media(max-width: 991px) {
  .accordion-white-container1 {
    flex-direction: column;
  }
}
@media(max-width: 360px) {
  .accordion-white-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}

.card-horizontal-light-wrapper {
  display: contents;
}
.card-horizontal-light-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.card-horizontal-light-frame5496 {
  gap: 20px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 28px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.card-horizontal-light-image10 {
  width: 526px;
  height: 220px;
}
.card-horizontal-light-frame5495 {
  gap: 20px;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.card-horizontal-light-tags {
  gap: 8px;
  height: 20px;
  display: flex;
  padding: 4px 8px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: rgba(19, 83, 185, 1);
}
.card-horizontal-light-text1 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.card-horizontal-light-text3 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
}
.card-horizontal-light-text4 {
  fill: var(--dl-color-default-textsecondary);
  color: var(--dl-color-default-textsecondary);
  width: auto;
}
.card-horizontal-lightroot-class-name {
  margin-top: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-fiveunits);
}
.card-horizontal-lightroot-class-name1 {
  margin-top: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-fiveunits);
}

.headshot-set-of3-wrapper {
  display: contents;
}
.headshot-set-of3-container1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  min-width: 250px;
  min-height: 100%;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  justify-content: flex-start;
}
.headshot-set-of3-image {
  width: 200px;
  object-fit: cover;
}
.headshot-set-of3-text1 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  align-self: center;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.headshot-set-of3-container2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.headshot-set-of3-text2 {
  fill: var(--dl-color-text-text-linkorange);
  color: var(--dl-color-text-text-linkorange);
  margin-right: var(--dl-space-space-halfunit);
}
.headshot-set-of3-chevron-down {
  width: 16px;
  height: 16px;
}
.headshot-set-of3root-class-name {
  width: 100%;
}
.headshot-set-of3root-class-name1 {
  width: 100%;
}
.headshot-set-of3root-class-name2 {
  width: 100%;
}
.headshot-set-of3root-class-name3 {
  width: 100%;
}
.headshot-set-of3root-class-name4 {
  width: 100%;
}
.headshot-set-of3root-class-name5 {
  width: 100%;
}

.card-portrait-wrapper {
  display: contents;
}
.card-portrait-container1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.card-portrait-frame5512 {
  gap: 12px;
  width: auto;
  height: auto;
  display: flex;
  padding: 28px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(223, 224, 225, 1);
  border-style: solid;
  border-width: 1px;
  padding-left: 28px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.card-portrait-image {
  width: 100%;
  height: 276px;
  object-fit: cover;
  margin-bottom: 12px;
}
.card-portrait-text2 {
  fill: var(--dl-color-default-textsecondary);
  color: var(--dl-color-default-textsecondary);
}
.card-portrait-container2 {
  gap: 8PX;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.card-portrait-link {
  display: contents;
}
.card-portrait-text3 {
  fill: var(--dl-color-text-text-linkorange);
  color: var(--dl-color-text-text-linkorange);
  margin-right: 0PX;
  text-decoration: none;
}
.card-portrait-chevron-right {
  width: 16px;
  height: 16px;
  align-self: center;
}
.sample-landing-page-pro-fragment1 {
  display: contents;
}
.sample-landing-page-pro-text16 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  display: inline-block;
}
.card-portraitroot-class-name {
  width: 100%;
  margin-right: 20PX;
}
.card-portraitroot-class-name1 {
  width: 100%;
}
.card-portraitroot-class-name2 {
  width: 100%;
  height: 100%;
  margin-right: 20PX;
}
.card-portraitroot-class-name3 {
  width: 100%;
  margin-right: 20PX;
}
.card-portraitroot-class-name4 {
  width: 100%;
  margin-right: 20PX;
}
.card-portraitroot-class-name5 {
  width: 100%;
  margin-right: 20PX;
}
.card-portraitroot-class-name6 {
  width: 100%;
  height: 100%;
  margin-right: 20PX;
}
.card-portraitroot-class-name7 {
  width: 100%;
}
.card-portraitroot-class-name8 {
  width: 100%;
  margin-right: 20PX;
}
.card-portraitroot-class-name9 {
  width: 100%;
  margin-right: 20PX;
}
.card-portraitroot-class-name10 {
  width: 100%;
  margin-right: 20PX;
}
.card-portraitroot-class-name11 {
  width: 100%;
  height: 100%;
  margin-right: 20PX;
}
.card-portraitroot-class-name12 {
  width: 100%;
}
.card-portraitroot-class-name13 {
  width: 100%;
  margin-right: 20PX;
}
.card-portraitroot-class-name14 {
  width: 100%;
  height: 100%;
  margin-right: 20PX;
}
.card-portraitroot-class-name15 {
  width: 100%;
}
.card-portraitroot-class-name16 {
  width: 100%;
  margin-right: 20PX;
}
.card-portraitroot-class-name17 {
  width: 100%;
  height: 100%;
  margin-right: 20PX;
}
.card-portraitroot-class-name18 {
  width: 100%;
}
.card-portraitroot-class-name19 {
  width: 100%;
  margin-right: 20PX;
}
.card-portraitroot-class-name20 {
  width: 100%;
  height: 100%;
  margin-right: 20PX;
}
.card-portraitroot-class-name21 {
  width: 100%;
}
.card-portraitroot-class-name22 {
  width: 100%;
}
.card-portraitroot-class-name23 {
  width: 100%;
}
.card-portraitroot-class-name24 {
  width: 100%;
}
.card-portraitroot-class-name25 {
  width: 100%;
}
.card-portraitroot-class-name26 {
  width: 100%;
}
.card-portraitroot-class-name27 {
  width: 100%;
}
.card-portraitroot-class-name28 {
  width: 100%;
  height: 100%;
}
.card-portraitroot-class-name29 {
  width: 100%;
  height: 100%;
}

.card-portraitroot-class-name31 {
  width: 100%;
}
.card-portraitroot-class-name32 {
  width: 100%;
}
.card-portraitroot-class-name33 {
  width: 100%;
}
.card-portraitroot-class-name34 {
  width: 100%;
  height: 100%;
}
.card-portraitroot-class-name35 {
  width: 100%;
  height: 100%;
}
.card-portraitroot-class-name36 {
  width: 100%;
  height: 100%;
}

.card-portraitroot-class-name38 {
  width: 100%;
}
.card-portraitroot-class-name39 {
  width: 100%;
}
.card-portraitroot-class-name40 {
  width: 100%;
  height: 100%;
}
.card-portraitroot-class-name41 {
  width: 100%;
  height: 100%;
}
.card-portraitroot-class-name42 {
  width: 100%;
  height: 100%;
}
.card-portraitroot-class-name43 {
  width: 100%;
}
.card-portraitroot-class-name44 {
  width: 100%;
}
.card-portraitroot-class-name45 {
  width: 100%;
}


@media(max-width: 767px) {
  .card-portrait-frame5512 {
    width: 100%;
  }
  .card-portraitroot-class-name28 {
    width: auto;
    align-self: center;
  }
  .card-portraitroot-class-name29 {
    width: auto;
    align-self: center;
  }
  .card-portraitroot-class-name31 {
    width: auto;
    align-self: center;
  }
  .card-portraitroot-class-name32 {
    width: auto;
    align-self: center;
  }
  .card-portraitroot-class-name33 {
    width: auto;
    align-self: center;
  }
  .card-portraitroot-class-name34 {
    width: auto;
    align-self: center;
  }
  .card-portraitroot-class-name35 {
    width: auto;
    align-self: center;
  }
  .card-portraitroot-class-name36 {
    width: auto;
    align-self: center;
  }
  .card-portraitroot-class-name40 {
    width: auto;
    align-self: center;
  }
  .card-portraitroot-class-name41 {
    width: auto;
    align-self: center;
  }
  .card-portraitroot-class-name42 {
    width: auto;
    align-self: center;
  }
  .card-portraitroot-class-name43 {
    width: auto;
    align-self: center;
  }
  .card-portraitroot-class-name44 {
    width: auto;
    align-self: center;
  }
  .card-portraitroot-class-name45 {
    width: auto;
    align-self: center;
  }
}

.sample-landing-page-pro-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sample-landing-page-pro-container11 {
  gap: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(45deg, rgb(55, 55, 74) 0.00%,rgb(91, 79, 254) 100.00%);
}
.sample-landing-page-pro-container12 {
  width: 1140px;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: 80px;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-text10 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-bottom: 40px;
}
.sample-landing-page-pro-container13 {
  width: 1140px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-text11 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-top: 80px;
  margin-bottom: 40px;
}
.sample-landing-page-pro-container14 {
  width: 1140px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-container15 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sample-landing-page-pro-image1 {
  width: 561px;
  height: 429px;
  object-fit: cover;
  margin-left: 80px;
}
.sample-landing-page-pro-container16 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-backgrounds-purple6);
}
.sample-landing-page-pro-text12 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-top: 80px;
  margin-bottom: 40px;
}
.sample-landing-page-pro-container17 {
  width: 1140px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-image2 {
  width: 552px;
  height: 364px;
  margin-top: 0px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: 80px;
  margin-bottom: 0px;
}
.sample-landing-page-pro-container18 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sample-landing-page-pro-text13 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-top: 80px;
  margin-bottom: 40px;
}
.sample-landing-page-pro-container19 {
  width: 1140px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-container20 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sample-landing-page-pro-image3 {
  width: 536px;
  height: 297px;
  object-fit: cover;
  margin-left: 80px;
}
.sample-landing-page-pro-container21 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: center;
}
.sample-landing-page-pro-text14 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-top: 20px;
  margin-bottom: 20px;
}
.sample-landing-page-pro-container22 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-image4 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-right: 40px;
}
.sample-landing-page-pro-image5 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-right: 40px;
}
.sample-landing-page-pro-image6 {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.sample-landing-page-pro-container23 {
  width: 1140px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-container24 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 80px;
  flex-direction: column;
  padding-bottom: 80px;
  justify-content: center;
  background-color: var(--dl-color-backgrounds-purple6);
}
.sample-landing-page-pro-text15 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-bottom: 32px;
}
.sample-landing-page-pro-container25 {
  width: 1140PX;
  display: flex;
  align-items: center;
  margin-bottom: 20PX;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-fragment1 {
  display: contents;
}
.sample-landing-page-pro-text16 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  display: inline-block;
}
.sample-landing-page-pro-fragment2 {
  display: contents;
}
.sample-landing-page-pro-text18 {
  color: var(--dl-color-text-text-headingnavy);
  display: inline-block;
}
.sample-landing-page-pro-fragment3 {
  display: contents;
}
.sample-landing-page-pro-text19 {
  color: var(--dl-color-text-text-headingnavy);
  display: inline-block;
}
.sample-landing-page-pro-container26 {
  width: 1140PX;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-fragment4 {
  display: contents;
}
.sample-landing-page-pro-text20 {
  color: var(--dl-color-text-text-headingnavy);
  display: inline-block;
}
.sample-landing-page-pro-fragment5 {
  display: contents;
}
.sample-landing-page-pro-text21 {
  color: var(--dl-color-text-text-headingnavy);
  display: inline-block;
}
.sample-landing-page-pro-image7 {
  width: 90px;
  height: 80px;
  margin-top: 80px;
  object-fit: cover;
}
.sample-landing-page-pro-text22 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-bottom: 20px;
}
.sample-landing-page-pro-text23 {
  margin-bottom: 20px;
}
