.secondary-button-light-container444 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.secondary-button-light-button25 {
  gap: 8px;
  width: auto;
  height: auto;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-text-text-linkorange);
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.secondary-button-light-text561 {
  fill: var(--dl-color-text-text-linkorange);
  color: var(--dl-color-text-text-linkorange);
}
.secondary-button-light-chevron-right22 {
  width: 16px;
  height: 16px;
}



.header-dark-container404 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.header-dark-default-header11 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 12px 0;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.header-dark-logos-portswigger11 {
  width: 249px;
  height: 42px;
}
.header-dark-navigation11 {
  gap: 40px;
  display: flex;
  align-items: center;
}
.header-dark-container405 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-dark-text512 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  margin-right: var(--dl-space-space-halfunit);
}
.header-dark-chevron-down64 {
  width: 16px;
  height: 16px;
}
.header-dark-container406 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-dark-text513 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  margin-right: var(--dl-space-space-halfunit);
}
.header-dark-chevron-down65 {
  width: 16px;
  height: 16px;
  background-size: cover;
  background-image: url("public/chevron%20down.svg");
}
.header-dark-text514 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  margin-right: 0px;
}
.header-dark-text515 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  margin-right: 0px;
}
.header-dark-container407 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-dark-text516 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  margin-right: var(--dl-space-space-halfunit);
}
.header-dark-chevron-down66 {
  width: 16px;
  height: 16px;
}
.header-dark-container408 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-dark-text517 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  margin-right: var(--dl-space-space-halfunit);
}
.header-dark-chevron-down67 {
  width: 16px;
  height: 16px;
}
.header-dark-root-class-name {
  margin-top: 32px;
  margin-bottom: 32px;
}
.header-dark-root-class-name1 {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #3098F0;
}
.header-dark-root-class-name2 {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #3098F0;
}
.header-dark-root-class-name3 {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #635CD5;
}

.secondary-button-dark-container410 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.secondary-button-dark-button23 {
  gap: 8px;
  width: auto;
  height: auto;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 8px;
  justify-content: center;
  background-color: transparent;
}
.secondary-button-dark-text519 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
}
.secondary-button-dark-root-class-name {
  margin-right: 20px;
}

.secondary-button-dark-root-class-name2 {
  margin-right: 20px;
}


.primary-button-light-container477 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.primary-button-light-button27 {
  gap: 8px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.primary-button-light-chevron-right23 {
  width: 16px;
  height: 16px;
}
.primary-button-light-root-class-name {
  margin-right: 0px;
}

.client-logos-container489 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.client-logos-component23 {
  width: 1985px;
  height: 32px;
}
.client-logos-root-class-name {
  margin-bottom: 100px;
}

.icon-callout-set-of3-container475 {
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  min-width: 250px;
  min-height: 100%;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  justify-content: flex-start;
}
.icon-callout-set-of3-magnifyingglass3 {
  width: 90px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.icon-callout-set-of3-frame48363 {
  gap: 10px;
  top: 47px;
  left: 0px;
  width: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.icon-callout-set-of3-group48323 {
  width: 56px;
  height: 32.61332321166992px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.icon-callout-set-of3-vector3 {
  top: 32.31059646606445px;
  left: 56.12603759765625px;
  width: 32px;
  height: 56px;
  position: absolute;
}
.icon-callout-set-of3-magnifyingglass13 {
  top: 0px;
  left: 0px;
  width: 90px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.icon-callout-set-of3-group48423 {
  top: 2.5px;
  left: 0px;
  width: 90px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.icon-callout-set-of3-magnifyingglass23 {
  top: 0px;
  left: 0px;
  width: 90px;
  height: 80px;
  position: absolute;
  margin-bottom: 20px;
}
.icon-callout-set-of3-text606 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  align-self: center;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.icon-callout-set-of3-container476 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.icon-callout-set-of3-text607 {
  fill: var(--dl-color-text-text-linkorange);
  color: var(--dl-color-text-text-linkorange);
  margin-right: var(--dl-space-space-halfunit);
}
.icon-callout-set-of3-chevron-down75 {
  width: 16px;
  height: 16px;
}
.icon-callout-set-of3-root-class-name {
  width: 100%;
  min-height: 100%;
}
.icon-callout-set-of3-root-class-name1 {
  width: 100%;
  align-self: center;
}
.icon-callout-set-of3-root-class-name2 {
  width: 100%;
}
.icon-callout-set-of3-root-class-name3 {
  width: 100%;
  min-height: 100%;
}
.icon-callout-set-of3-root-class-name4 {
  width: 100%;
  align-self: center;
}
.icon-callout-set-of3-root-class-name5 {
  width: 100%;
}
.icon-callout-set-of3-root-class-name6 {
  width: 100%;
  min-height: 100%;
}
.icon-callout-set-of3-root-class-name7 {
  width: 100%;
  align-self: center;
}
.icon-callout-set-of3-root-class-name8 {
  width: 100%;
}

.header-full-width-image-container464 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  flex-direction: column;
  padding-bottom: 80px;
}
.header-full-width-image-text594 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  width: 100%;
  align-self: center;
  text-align: center;
  margin-bottom: 40px;
}
.header-full-width-image-image71 {
  width: 1180px;
  height: 662px;
  object-fit: cover;
}
.header-full-width-image-root-class-name {
  margin-top: 40px;
  background-color: var(--dl-color-backgrounds-purple5);
}
.header-full-width-image-root-class-name1 {
  margin-top: 40px;
  background-color: var(--dl-color-backgrounds-purple5);
}
.header-full-width-image-root-class-name2 {
  margin-top: 40px;
  background-color: var(--dl-color-backgrounds-purple5);
}

.accordion-blue-faq87 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.accordion-blue-max-width11 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.accordion-blue-container485 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.accordion-blue-list7 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.accordion-blue-faq17 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.accordion-blue-trigger12 {
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-backgrounds-blue6);
}
.accordion-blue-trigger12:hover {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
  background-color: var(--dl-color-backgrounds-blue5);
}
.accordion-blue-faq1-question7 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-align: center;
}
.accordion-blue-icons-container7 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.accordion-blue-icon122 {
  width: 24px;
  height: 24px;
}
.accordion-blue-icon124 {
  width: 24px;
  height: 24px;
}
.accordion-blue-container488 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.accordion-blue-text618 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.accordion-blue-root-class-name {
  margin-bottom: 20px;
}
.accordion-blue-root-class-name1 {
  margin-bottom: 20px;
}
.accordion-blue-root-class-name2 {
  margin-bottom: 20px;
}
.accordion-blue-root-class-name3 {
  margin-bottom: 20px;
}
.accordion-blue-root-class-name4 {
  margin-bottom: 20px;
}
.accordion-blue-root-class-name5 {
  margin-bottom: 20px;
}
.accordion-blue-root-class-name6 {
  margin-bottom: 20px;
}
.accordion-blue-root-class-name7 {
  margin-bottom: 20px;
}

.accordion-blue-root-class-name9 {
  margin-bottom: 20px;
}
.accordion-blue-root-class-name10 {
  margin-bottom: 20px;
}

.accordion-blue-root-class-name12 {
  margin-bottom: 20px;
}
.accordion-blue-root-class-name13 {
  margin-bottom: 20px;
}

.accordion-blue-root-class-name15 {
  margin-bottom: 20px;
}
.accordion-blue-root-class-name16 {
  margin-bottom: 20px;
}

.accordion-blue-root-class-name18 {
  margin-bottom: 20px;
}
.accordion-blue-root-class-name19 {
  margin-bottom: 20px;
}

.accordion-blue-root-class-name21 {
  margin-bottom: 20px;
}
.accordion-blue-root-class-name22 {
  margin-bottom: 20px;
}

.accordion-blue-root-class-name24 {
  margin-bottom: 20px;
}
.accordion-blue-root-class-name25 {
  margin-bottom: 20px;
}

@media(max-width: 991px) {
  .accordion-blue-container485 {
    flex-direction: column;
  }
}
@media(max-width: 360px) {
  .accordion-blue-max-width11 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}

.accordion-white-faq808 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.accordion-white-max-width13 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.accordion-white-container499 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.accordion-white-list08 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.accordion-white-faq108 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.accordion-white-trigger13 {
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-default-white);
}
.accordion-white-trigger13:hover {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
  background-color: var(--dl-color-backgrounds-blue5);
}
.accordion-white-faq1-question08 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-align: center;
}
.accordion-white-icons-container08 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.accordion-white-icon126 {
  width: 24px;
  height: 24px;
}
.accordion-white-icon128 {
  width: 24px;
  height: 24px;
}
.accordion-white-container502 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.accordion-white-text637 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.accordion-white-root-class-name {
  margin-bottom: 20px;
}
.accordion-white-root-class-name1 {
  margin-bottom: 20px;
}

.accordion-white-root-class-name3 {
  margin-bottom: 20px;
}

.accordion-white-root-class-name5 {
  margin-bottom: 20px;
}
.accordion-white-root-class-name6 {
  margin-bottom: 20px;
}
.accordion-white-root-class-name7 {
  margin-bottom: 20px;
}

.accordion-white-root-class-name9 {
  margin-bottom: 20px;
}
.accordion-white-root-class-name10 {
  margin-bottom: 20px;
}

@media(max-width: 991px) {
  .accordion-white-container499 {
    flex-direction: column;
  }
}
@media(max-width: 360px) {
  .accordion-white-max-width13 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}

.quotation-pro-container422 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.quotation-pro-frame551911 {
  gap: 30px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 80px 30px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(76, 79, 177, 1);
}
.quotation-pro-text523 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  width: 900px;
}
.quotation-pro-text524 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  width: 900px;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}



.card-horizontal-light-container495 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.card-horizontal-light-frame549608 {
  gap: 20px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 28px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.card-horizontal-light-image1008 {
  width: 526px;
  height: 220px;
}
.card-horizontal-light-frame549508 {
  gap: 20px;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.card-horizontal-light-tags08 {
  gap: 8px;
  height: 20px;
  display: flex;
  padding: 4px 8px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: rgba(19, 83, 185, 1);
}
.card-horizontal-light-text626 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.card-horizontal-light-text628 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
}
.card-horizontal-light-text629 {
  fill: var(--dl-color-default-textsecondary);
  color: var(--dl-color-default-textsecondary);
  width: auto;
}
.card-horizontal-light-root-class-name {
  margin-top: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-fiveunits);
}
.card-horizontal-light-root-class-name1 {
  margin-top: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-fiveunits);
}

.headshot-set-of3-container441 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  min-width: 250px;
  min-height: 100%;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  justify-content: flex-start;
}
.headshot-set-of3-image61 {
  width: 200px;
  object-fit: cover;
}
.headshot-set-of3-text559 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  align-self: center;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.headshot-set-of3-container442 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.headshot-set-of3-text560 {
  fill: var(--dl-color-text-text-linkorange);
  color: var(--dl-color-text-text-linkorange);
  margin-right: var(--dl-space-space-halfunit);
}
.headshot-set-of3-chevron-down70 {
  width: 16px;
  height: 16px;
}
.headshot-set-of3-root-class-name {
  width: 100%;
}
.headshot-set-of3-root-class-name1 {
  width: 100%;
}
.headshot-set-of3-root-class-name2 {
  width: 100%;
}
.headshot-set-of3-root-class-name3 {
  width: 100%;
}
.headshot-set-of3-root-class-name4 {
  width: 100%;
}
.headshot-set-of3-root-class-name5 {
  width: 100%;
}

.card-portrait-container420 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.card-portrait-frame55127 {
  gap: 12px;
  width: auto;
  height: auto;
  display: flex;
  padding: 28px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(223, 224, 225, 1);
  border-style: solid;
  border-width: 1px;
  padding-left: 28px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.card-portrait-image59 {
  width: 100%;
  height: 276px;
  object-fit: cover;
}
.card-portrait-text521 {
  fill: var(--dl-color-default-textsecondary);
  color: var(--dl-color-default-textsecondary);
}
.card-portrait-container421 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.card-portrait-text522 {
  fill: var(--dl-color-text-text-linkorange);
  color: var(--dl-color-text-text-linkorange);
  margin-right: var(--dl-space-space-halfunit);
}
.card-portrait-chevron-right19 {
  width: 16px;
  height: 16px;
}
.card-portrait-root-class-name {
  width: 100%;
  margin-right: 20PX;
}
.card-portrait-root-class-name1 {
  width: 100%;
}
.card-portrait-root-class-name2 {
  width: 100%;
  height: 100%;
  margin-right: 20PX;
}
.card-portrait-root-class-name3 {
  width: 100%;
  margin-right: 20PX;
}
.card-portrait-root-class-name4 {
  width: 100%;
  margin-right: 20PX;
}
.card-portrait-root-class-name5 {
  width: 100%;
  margin-right: 20PX;
}
.card-portrait-root-class-name6 {
  width: 100%;
  height: 100%;
  margin-right: 20PX;
}
.card-portrait-root-class-name7 {
  width: 100%;
}
.card-portrait-root-class-name8 {
  width: 100%;
  margin-right: 20PX;
}
.card-portrait-root-class-name9 {
  width: 100%;
  margin-right: 20PX;
}

.primary-button-dark-container426 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.primary-button-dark-button24 {
  gap: 8px;
  width: auto;
  height: auto;
  display: flex;
  padding: 12px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-width: 0px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 102, 51, 1);
}
.primary-button-dark-text531 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
.primary-button-dark-chevron-right20 {
  width: 16px;
  height: 16px;
}
.primary-button-dark-root-class-name {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-dark-root-class-name1 {
  width: 100%;
}
.primary-button-dark-root-class-name2 {
  width: 100%;
}

.primary-button-dark-root-class-name4 {
  width: 100%;
}

.primary-button-dark-root-class-name6 {
  width: 100%;
}
.primary-button-dark-root-class-name7 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}


.primary-button-dark-root-class-name10 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-dark-root-class-name11 {
  margin-bottom: 80px;
}
.primary-button-dark-root-class-name12 {
  margin-bottom: 80px;
}
.primary-button-dark-root-class-name13 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-dark-root-class-name14 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}

.sample-landing-page-pro-fw-image-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sample-landing-page-pro-fw-image-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(45deg, rgb(55, 55, 74) 0.00%,rgb(91, 79, 254) 100.00%);
}
.sample-landing-page-pro-fw-image-container02 {
  display: flex;
  margin-top: 40px;
  align-items: center;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: center;
}
.sample-landing-page-pro-fw-image-text {
  fill: var(--dl-color-backgrounds-purple5);
  color: var(--dl-color-backgrounds-purple5);
  font-size: 64px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.sample-landing-page-pro-fw-image-text02 {
  color: var(--dl-color-default-white);
}
.sample-landing-page-pro-fw-image-text03 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  width: 760px;
  margin-top: 36px;
  text-align: center;
  margin-bottom: 40px;
}
.sample-landing-page-pro-fw-image-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.sample-landing-page-pro-fw-image-image {
  width: 1170px;
  height: 660px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-imageradius);
  margin-bottom: var(--dl-space-space-fiveunits);
}
.sample-landing-page-pro-fw-image-text04 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-bottom: 40px;
}
.sample-landing-page-pro-fw-image-container04 {
  width: 1140px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-fw-image-text05 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-top: 80px;
  margin-bottom: 40px;
}
.sample-landing-page-pro-fw-image-container05 {
  width: 1140px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-fw-image-container06 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sample-landing-page-pro-fw-image-image1 {
  width: 561px;
  height: 429px;
  object-fit: cover;
  margin-left: 80px;
}
.sample-landing-page-pro-fw-image-container07 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-backgrounds-purple6);
}
.sample-landing-page-pro-fw-image-text06 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-top: 80px;
  margin-bottom: 40px;
}
.sample-landing-page-pro-fw-image-container08 {
  width: 1140px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-fw-image-image2 {
  width: 552px;
  height: 364px;
  margin-top: 0px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: 80px;
  margin-bottom: 0px;
}
.sample-landing-page-pro-fw-image-container09 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sample-landing-page-pro-fw-image-text07 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-top: 80px;
  margin-bottom: 40px;
}
.sample-landing-page-pro-fw-image-container10 {
  width: 1140px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-fw-image-container11 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sample-landing-page-pro-fw-image-image3 {
  width: 536px;
  height: 297px;
  object-fit: cover;
  margin-left: 80px;
}
.sample-landing-page-pro-fw-image-container12 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: center;
}
.sample-landing-page-pro-fw-image-text08 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-top: 20px;
  margin-bottom: 20px;
}
.sample-landing-page-pro-fw-image-container13 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-fw-image-image4 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-right: 40px;
}
.sample-landing-page-pro-fw-image-image5 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-right: 40px;
}
.sample-landing-page-pro-fw-image-image6 {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.sample-landing-page-pro-fw-image-container14 {
  width: 1140px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-fw-image-container15 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 80px;
  flex-direction: column;
  padding-bottom: 80px;
  justify-content: center;
  background-color: var(--dl-color-backgrounds-purple6);
}
.sample-landing-page-pro-fw-image-text09 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-bottom: 32px;
}
.sample-landing-page-pro-fw-image-container16 {
  width: 1140PX;
  display: flex;
  align-items: center;
  margin-bottom: 20PX;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-fw-image-container17 {
  width: 1140PX;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.sample-landing-page-pro-fw-image-image7 {
  width: 90px;
  height: 80px;
  margin-top: 80px;
  object-fit: cover;
}
.sample-landing-page-pro-fw-image-text10 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  margin-bottom: 20px;
}
.sample-landing-page-pro-fw-image-text11 {
  margin-bottom: 20px;
}
