.star-rating-white-wrapper {
  display: contents;
}
.star-rating-white-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
}
.star-rating-white-frame5148 {
  gap: 8px;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.star-rating-white-frame5147 {
  width: 120px;
  height: 24px;
}
.star-rating-white-text {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  text-align: center;
}
.star-rating-whiteroot-class-name {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name1 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name2 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name3 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name4 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name5 {
  width: 225px;
}
.star-rating-whiteroot-class-name6 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name7 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name8 {
  width: 225px;
}



.star-rating-whiteroot-class-name12 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name13 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name14 {
  width: 225px;
}
.star-rating-whiteroot-class-name15 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name16 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name17 {
  width: 225px;
}
.star-rating-whiteroot-class-name18 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name19 {
  width: 100%;
  align-self: center;
}
.star-rating-whiteroot-class-name20 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name21 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name22 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name23 {
  width: 100%;
  align-self: center;
}
.star-rating-whiteroot-class-name24 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name25 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name26 {
  width: 100%;
  align-self: center;
}
.star-rating-whiteroot-class-name27 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name28 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name29 {
  width: 100%;
  align-self: center;
}
.star-rating-whiteroot-class-name30 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name31 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name32 {
  width: 225px;
}
.star-rating-whiteroot-class-name33 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name34 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name35 {
  width: 100%;
  align-self: center;
}
.star-rating-whiteroot-class-name36 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name37 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name38 {
  width: 225px;
}
.star-rating-whiteroot-class-name39 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name40 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name41 {
  width: 225px;
  margin-right: var(--dl-space-space-twounits);
}
.star-rating-whiteroot-class-name42 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name43 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name44 {
  width: 100%;
  align-self: center;
}
.star-rating-whiteroot-class-name45 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name46 {
  width: 100%;
  align-self: center;
  margin-right: 100px;
}
.star-rating-whiteroot-class-name47 {
  width: 100%;
  align-self: center;
}
@media(max-width: 360px) {
  .star-rating-whiteroot-class-name {
    width: 360px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .star-rating-whiteroot-class-name1 {
    width: 360px;
  }
  .star-rating-whiteroot-class-name2 {
    width: 360px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .star-rating-whiteroot-class-name39 {
    width: 360px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .star-rating-whiteroot-class-name40 {
    width: 360px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .star-rating-whiteroot-class-name41 {
    width: 360px;
  }
}

.list-item-with-icon-dark4-wrapper {
  display: contents;
}
.list-item-with-icon-dark4-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.list-item-with-icon-dark4-frame1 {
  gap: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.list-item-with-icon-dark4-check-in-circle-outlined {
  width: 24px;
  height: 24px;
}
.list-item-with-icon-dark4-text {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
.list-item-with-icon-dark4root-class-name {
  margin-bottom: var(--dl-space-space-twounits);
}
.list-item-with-icon-dark4root-class-name1 {
  margin-bottom: var(--dl-space-space-twounits);
}

.list-item-with-icon-dark4root-class-name3 {
  margin-bottom: var(--dl-space-space-twounits);
}
.list-item-with-icon-dark4root-class-name4 {
  margin-bottom: var(--dl-space-space-twounits);
}

.list-item-with-icon-dark4root-class-name6 {
  margin-bottom: var(--dl-space-space-twounits);
}
.list-item-with-icon-dark4root-class-name7 {
  margin-bottom: var(--dl-space-space-twounits);
}

.list-item-with-icon-dark4root-class-name9 {
  margin-bottom: var(--dl-space-space-twounits);
}
.list-item-with-icon-dark4root-class-name10 {
  margin-bottom: var(--dl-space-space-twounits);
}

.list-item-with-icon-dark4root-class-name12 {
  margin-bottom: var(--dl-space-space-twounits);
}
.list-item-with-icon-dark4root-class-name13 {
  margin-bottom: var(--dl-space-space-twounits);
}

.list-item-with-icon-dark4root-class-name15 {
  margin-bottom: var(--dl-space-space-twounits);
}
.list-item-with-icon-dark4root-class-name16 {
  margin-bottom: var(--dl-space-space-twounits);
}
.list-item-with-icon-dark4root-class-name17 {
  margin-bottom: var(--dl-space-space-twounits);
}

.list-item-with-icon-dark4root-class-name19 {
  margin-bottom: var(--dl-space-space-unit);
}
.list-item-with-icon-dark4root-class-name20 {
  margin-bottom: var(--dl-space-space-twounits);
}
.list-item-with-icon-dark4root-class-name21 {
  margin-bottom: var(--dl-space-space-unit);
}
.list-item-with-icon-dark4root-class-name23 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 1600px) {
  .list-item-with-icon-dark4root-class-name17 {
    fill: var(--dl-color-theme-neutral-dark);
    color: var(--dl-color-theme-neutral-dark);
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 991px) {
  .list-item-with-icon-dark4-frame1 {
    gap: 10px;
  }
  .list-item-with-icon-dark4root-class-name {
    margin-right: var(--dl-space-space-twounits);
  }
  .list-item-with-icon-dark4root-class-name1 {
    margin-right: var(--dl-space-space-twounits);
  }
  .list-item-with-icon-dark4root-class-name19 {
    margin-right: var(--dl-space-space-twounits);
  }
  .list-item-with-icon-dark4root-class-name20 {
    margin-right: var(--dl-space-space-twounits);
  }
  .list-item-with-icon-dark4root-class-name21 {
    margin-right: var(--dl-space-space-twounits);
  }
  .list-item-with-icon-dark4root-class-name23 {
    margin-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .list-item-with-icon-dark4root-class-name {
    margin-bottom: var(--dl-space-space-unit);
  }
  .list-item-with-icon-dark4root-class-name1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .list-item-with-icon-dark4root-class-name19 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .list-item-with-icon-dark4root-class-name20 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .list-item-with-icon-dark4root-class-name21 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .list-item-with-icon-dark4root-class-name23 {
    margin-bottom: var(--dl-space-space-unit);
  }
}

.input-field-wrapper {
  display: contents;
}
.input-field-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.input-field-field {
  gap: 5px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.input-field-input {
  gap: 10px;
  color: rgba(29, 28, 26, 1);
  display: flex;
  padding: 5px 10px;
  font-size: 16px;
  align-self: stretch;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Roboto;
  font-weight: 400;
  border-color: rgba(160, 160, 161, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.input-fieldroot-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name4 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name5 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name6 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name7 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name8 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}



.input-fieldroot-class-name12 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name13 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name14 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name15 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name16 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name17 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name18 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name19 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name20 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name21 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name22 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name23 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name24 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name25 {
  fill: var(--dl-color-text-white);
  color: var(--dl-color-text-white);
  width: 370px;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name26 {
  fill: var(--dl-color-text-white);
  color: var(--dl-color-text-white);
  width: 370px;
  margin-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 1600px) {
  .input-fieldroot-class-name {
    margin-top: var(--dl-space-space-unit);
  }
  .input-fieldroot-class-name2 {
    fill: var(--dl-color-default-white);
    color: var(--dl-color-default-white);
    margin-top: var(--dl-space-space-unit);
  }
  .input-fieldroot-class-name3 {
    fill: var(--dl-color-default-white);
    color: var(--dl-color-default-white);
  }
  .input-fieldroot-class-name4 {
    margin-top: var(--dl-space-space-unit);
  }
  .input-fieldroot-class-name5 {
    fill: var(--dl-color-default-white);
    color: var(--dl-color-default-white);
  }
  .input-fieldroot-class-name6 {
    margin-top: var(--dl-space-space-unit);
  }
  .input-fieldroot-class-name12 {
    margin-top: var(--dl-space-space-unit);
  }
  .input-fieldroot-class-name15 {
    margin-top: var(--dl-space-space-unit);
  }
  .input-fieldroot-class-name17 {
    margin-top: var(--dl-space-space-unit);
  }
  .input-fieldroot-class-name18 {
    margin-top: var(--dl-space-space-unit);
  }
  .input-fieldroot-class-name23 {
    margin-top: var(--dl-space-space-unit);
  }
  .input-fieldroot-class-name25 {
    margin-top: var(--dl-space-space-unit);
  }
}

.primary-button-light-wrapper {
  display: contents;
}
.primary-button-light-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.primary-button-light-button {
  gap: 8px;
  width: auto;
  height: auto;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  flex-shrink: 0;
  border-width: 0px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 102, 51, 1);
}
.primary-button-light-chevron-right {
  width: 16px;
  height: 16px;
}
.primary-button-light-fragment {
  display: contents;
}
.primary-button-light-text2 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  font-stretch: normal;
  letter-spacing: 0em;
}
.primary-button-lightroot-class-name {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-lightroot-class-name1 {
  width: 100%;
}
.primary-button-lightroot-class-name2 {
  width: 100%;
}

.primary-button-lightroot-class-name4 {
  width: 100%;
}

.primary-button-lightroot-class-name6 {
  width: 100%;
}
.primary-button-lightroot-class-name7 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-lightroot-class-name10 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-lightroot-class-name11 {
  margin-bottom: 80px;
}
.primary-button-lightroot-class-name12 {
  margin-bottom: 80px;
}
.primary-button-lightroot-class-name13 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-lightroot-class-name14 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-lightroot-class-name15 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-lightroot-class-name16 {
  margin-bottom: 80px;
}
.primary-button-lightroot-class-name17 {
  margin-bottom: 80px;
}








@media(max-width: 360px) {
  .primary-button-light-container {
    width: 100%;
  }
}

.trial-request-template1-container1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(45deg, rgb(19, 83, 185) 0.00%,rgb(26, 159, 255) 100.00%);
  .-carousel-container: display: flex;     animation: scroll 20s linear infinite;
}
.trial-request-template1-container2 {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: center;
}
.trial-request-template1-container3 {
  width: 931px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
}
.trial-request-template1-container4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.trial-request-template1-container5 {
  width: 490px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.trial-request-template1-text1 {
  fill: #BBE2FC;
  color: #BBE2FC;
  text-align: left;
  margin-bottom: var(--dl-space-space-unit);
}
.trial-request-template1-text2 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  margin-bottom: var(--dl-space-space-threeunits);
}
.trial-request-template1-container6 {
  width: 466px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.trial-request-template1-container7 {
  width: 629px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.trial-request-template1-text3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  text-align: left;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.trial-request-template1-text4 {
  width: 100%;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.trial-request-template1-select {
  width: 100%;
  height: 30px;
  border-color: var(--dl-color-text-tertiary);
  border-style: solid;
  border-width: 1px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.trial-request-template1-container8 {
  flex: 0.5;
  left: -871px;
  width: 100%;
  bottom: 152px;
  display: flex;
  position: absolute;
  margin-top: 0px;
  overflow-x: scroll;
  align-items: center;
  animation-name: slideInLeft;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: flex-start;
  animation-duration: 10000ms;
  carousel-container: display: flex;     overflow-x: scroll;     scrollbar-width: none; /* Firefox */;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.trial-request-template1-image10 {
  width: 117px;
  height: 36px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image11 {
  width: 166px;
  height: 37px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image12 {
  width: 130px;
  height: 36px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image13 {
  width: 112px;
  height: 37px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image14 {
  width: 123px;
  height: 37px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image15 {
  width: 121px;
  height: 37px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image16 {
  width: 125px;
  height: 36px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image17 {
  width: 161px;
  height: 36px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image18 {
  width: 130px;
  height: 36px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image19 {
  width: 121px;
  height: 37px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image20 {
  width: 161px;
  height: 36px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image21 {
  width: 126px;
  height: 36px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image22 {
  width: 125px;
  height: 36px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image23 {
  width: 123px;
  height: 37px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-container9 {
  flex: 0.5;
  right: -1018px;
  width: 100%;
  bottom: 152px;
  display: flex;
  position: absolute;
  overflow-x: scroll;
  align-items: center;
  animation-name: slideInLeft;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: flex-start;
  animation-duration: 10000ms;
  carousel-container: display: flex;     overflow-x: scroll;     scrollbar-width: none; /* Firefox */;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.trial-request-template1-image24 {
  width: 117px;
  height: 36px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image25 {
  width: 130px;
  height: 36px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image26 {
  width: 112px;
  height: 37px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image27 {
  width: 123px;
  height: 37px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image28 {
  width: 121px;
  height: 37px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image29 {
  width: 125px;
  height: 36px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image30 {
  width: 161px;
  height: 36px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image31 {
  width: 130px;
  height: 36px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image32 {
  width: 121px;
  height: 37px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image33 {
  width: 161px;
  height: 36px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image34 {
  width: 126px;
  height: 36px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image35 {
  width: 125px;
  height: 36px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.trial-request-template1-image36 {
  width: 123px;
  height: 37px;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
@media(max-width: 1600px) {
  .trial-request-template1-container1 {
    overflow-x: scroll;
    background-image: linear-gradient(45deg, rgb(19, 83, 185) 1.00%,rgb(26, 159, 255) 100.00%);
  }
  .trial-request-template1-container2 {
    margin-top: var(--dl-space-space-fiveunits);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .trial-request-template1-container3 {
    width: 1000px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .trial-request-template1-container5 {
    width: auto;
  }
  .trial-request-template1-container6 {
    width: auto;
  }
  .trial-request-template1-container7 {
    height: auto;
  }
  .trial-request-template1-container8 {
    left: 0px;
    width: 100%;
    bottom: 164px;
    margin-top: var(--dl-space-space-fiveunits);
    animation-name: bounceOutLeft;
    flex-direction: row;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .trial-request-template1-image10 {
    width: 103px;
    height: 32px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image11 {
    width: 140px;
    height: 32px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image12 {
    width: 135px;
    height: 38px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image13 {
    width: 121px;
    height: 40px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image14 {
    width: 131px;
    height: 39px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image15 {
    width: 134px;
    height: 41px;
    margin-right: var(--dl-space-space-threeunits);
    animation-name: none;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .trial-request-template1-image16 {
    width: 97px;
    height: 28px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image17 {
    width: 147px;
    height: 33px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image18 {
    width: 135px;
    height: 38px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image19 {
    width: 134px;
    height: 41px;
    margin-right: var(--dl-space-space-threeunits);
    animation-name: none;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .trial-request-template1-image20 {
    width: 147px;
    height: 33px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image21 {
    width: 135px;
    height: 38px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image22 {
    width: 97px;
    height: 28px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image23 {
    width: 131px;
    height: 39px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-container9 {
    width: 100%;
    display: none;
    margin-top: var(--dl-space-space-fiveunits);
    animation-name: bounceOutLeft;
    flex-direction: row;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .trial-request-template1-image24 {
    width: 103px;
    height: 32px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image25 {
    width: 135px;
    height: 38px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image26 {
    width: 121px;
    height: 40px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image27 {
    width: 131px;
    height: 39px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image28 {
    width: 134px;
    height: 41px;
    margin-right: var(--dl-space-space-threeunits);
    animation-name: none;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .trial-request-template1-image29 {
    width: 97px;
    height: 28px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image30 {
    width: 147px;
    height: 33px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image31 {
    width: 135px;
    height: 38px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image32 {
    width: 134px;
    height: 41px;
    margin-right: var(--dl-space-space-threeunits);
    animation-name: none;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .trial-request-template1-image33 {
    width: 147px;
    height: 33px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image34 {
    width: 135px;
    height: 38px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image35 {
    width: 97px;
    height: 28px;
    margin-right: var(--dl-space-space-threeunits);
  }
  .trial-request-template1-image36 {
    width: 131px;
    height: 39px;
    margin-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 991px) {
  .trial-request-template1-container1 {
    align-items: center;
    justify-content: flex-start;
  }
  .trial-request-template1-container2 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .trial-request-template1-container3 {
    flex-direction: column;
  }
  .trial-request-template1-container4 {
    align-self: center;
    margin-top: 0px;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .trial-request-template1-container5 {
    align-self: center;
  }
  .trial-request-template1-text1 {
    align-self: center;
  }
  .trial-request-template1-container6 {
    width: 702px;
    align-self: center;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: row;
  }
  .trial-request-template1-container8 {
    left: 0px;
    bottom: 60px;
  }
  .trial-request-template1-container9 {
    top: -47px;
    left: 0px;
  }
}
@media(max-width: 767px) {
  .trial-request-template1-container1 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .trial-request-template1-container2 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .trial-request-template1-container3 {
    width: 100%;
    align-self: flex-start;
    justify-content: flex-start;
  }
  .trial-request-template1-container4 {
    width: 100%;
  }
  .trial-request-template1-container5 {
    width: 100%;
    align-self: flex-start;
  }
  .trial-request-template1-container6 {
    width: 384px;
    height: auto;
    align-items: flex-start;
    flex-direction: column;
  }
  .trial-request-template1-container7 {
    width: 483px;
  }
  .trial-request-template1-container8 {
    left: 0px;
    bottom: 77px;
  }
  .trial-request-template1-container9 {
    top: -43px;
    left: 0px;
  }
}
@media(max-width: 360px) {
  .trial-request-template1-container2 {
    width: auto;
    height: 69px;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
    animation-name: bounceOutLeft;
    flex-direction: row;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .trial-request-template1-container6 {
    width: 100%;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .trial-request-template1-container7 {
    width: auto;
  }
  .trial-request-template1-container8 {
    right: 0px;
    bottom: 36px;
  }
  .trial-request-template1-container9 {
    top: 41px;
    left: 0px;
  }
}
