.secondary-button-light-container3777 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.secondary-button-light-button223 {
  gap: 8px;
  width: auto;
  height: auto;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-text-text-linkorange);
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.secondary-button-light-text4785 {
  fill: var(--dl-color-text-text-linkorange);
  color: var(--dl-color-text-text-linkorange);
}
.secondary-button-light-chevron-right187 {
  width: 16px;
  height: 16px;
}



.card-horizontal-light-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.card-horizontal-light-frame5496 {
  gap: 20px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 28px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.card-horizontal-light-image10 {
  width: 526px;
  height: 220px;
}
.card-horizontal-light-frame5495 {
  gap: 20px;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.card-horizontal-light-tags {
  gap: 8px;
  height: 20px;
  display: flex;
  padding: 4px 8px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: rgba(19, 83, 185, 1);
}
.card-horizontal-light-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.card-horizontal-light-text2 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
}
.card-horizontal-light-text3 {
  fill: var(--dl-color-default-textsecondary);
  color: var(--dl-color-default-textsecondary);
  width: auto;
}
.card-horizontal-light-root-class-name {
  margin-top: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-fiveunits);
}
.card-horizontal-light-root-class-name1 {
  margin-top: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-fiveunits);
}
