.card-text-only-container1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.card-text-only-frame5512 {
  gap: 12px;
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 28px;
  min-height: 100%;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(223, 224, 225, 1);
  border-style: solid;
  border-width: 1px;
  padding-left: 28px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.card-text-only-text2 {
  fill: var(--dl-color-default-textsecondary);
  color: var(--dl-color-default-textsecondary);
}
.card-text-only-container2 {
  gap: 8PX;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.card-text-only-link {
  display: contents;
}
.card-text-only-chevron-right {
  width: 16px;
  height: 16px;
  align-self: center;
}
.card-text-only-fragment1 {
  display: contents;
}
.card-text-only-text4 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  display: inline-block;
}
.card-text-only-fragment2 {
  display: contents;
}
.card-text-only-text5 {
  fill: var(--dl-color-text-text-linkorange);
  color: var(--dl-color-text-text-linkorange);
  display: inline-block;
  margin-right: 0PX;
  text-decoration: none;
}
.card-text-onlyroot-class-name {
  width: 100%;
  margin-right: 20px;
}
.card-text-onlyroot-class-name1 {
  margin-right: 20px;
}
.card-text-onlyroot-class-name2 {
  margin-right: 0px;
}
.card-text-onlyroot-class-name3 {
  width: 100%;
}
.card-text-onlyroot-class-name4 {
  width: 100%;
  height: 100%;
  margin-right: 20px;
}
