.dropdown-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.dropdown-dropdown {
  gap: 5px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.dropdown-text1 {
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.dropdown-input {
  gap: 10px;
  display: flex;
  padding: 5px 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(160, 160, 161, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 1);
}
.dropdown-text2 {
  color: rgba(29, 28, 26, 1);
  width: 100%;
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 139.9999976158142%;
}
.dropdown-chevron-down {
  width: 16px;
  height: 16px;
}
@media(max-width: 1600px) {
  .dropdown-container {
    width: auto;
    height: auto;
  }
  .dropdown-dropdown {
    width: 100%;
  }
  .dropdown-input {
    width: 100%;
    height: auto;
  }
}
