.existing-ds-header-and-intro-container1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.existing-ds-header-and-intro-container2 {
  width: 1000px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-bottom: 30px;
  flex-direction: column;
  justify-content: center;
}
.existing-ds-header-and-intro-text1 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  font-size: 60px;
  margin-top: 40px;
  font-family: "Arial";
  margin-bottom: 40px;
  letter-spacing: -2px;
}
.existing-ds-header-and-intro-text2 {
  fill: transparent;
  color: #333332;
  font-size: 18px;
  text-align: center;
  font-family: "Arial";
  margin-bottom: 30px;
}

