.footer-column-title-wrapper {
  display: contents;
}
.footer-column-title-container {
  display: flex;
  position: relative;
}
.footer-column-title-text {
  font-size: 13px;
  margin-top: 8px;
  font-weight: bold;
  margin-bottom: 8px;
}
.footer-column-titleroot-class-name {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer-column-titleroot-class-name1 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer-column-titleroot-class-name2 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer-column-titleroot-class-name3 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer-column-titleroot-class-name4 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}

.twitter-button-wrapper {
  display: contents;
}
.twitter-button-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.twitter-button-frame5622 {
  gap: 10px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 2px 20px;
  align-items: center;
  border-color: rgba(0, 172, 238, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
}
.twitter-button-frame5626 {
  gap: 5px;
  display: flex;
  align-items: center;
}
.twitter-button-twitterand-xlogossvg1 {
  width: 18px;
  height: 14px;
}
.twitter-button-text {
  fill: rgba(0, 172, 238, 1);
  color: rgba(0, 172, 238, 1);
  font-size: 14px;
  font-family: "Arial";
  line-height: 24px;
}
.twitter-buttonroot-class-name {
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer1-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  padding-bottom: 32px;
  justify-content: center;
  background-color: #ffffff;
  border-top-width: 3px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer1-main {
  flex: 0 0 auto;
  width: 1140px;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: 280px;
  margin-right: 280px;
  flex-direction: column;
}
.footer1-container2 {
  width: 1140px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer1-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.footer1-container4 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer1-text10 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text11 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text12 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-container5 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer1-text13 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text14 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text15 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text16 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text17 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text18 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-container6 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer1-text19 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text20 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text21 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-container7 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer1-text22 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text23 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text24 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text25 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text26 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-container8 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer1-text27 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text28 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-text29 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
}
.footer1-container9 {
  flex: 0 0 auto;
  width: 190px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
}
.footer1-image {
  width: 181px;
  height: 38px;
  object-fit: cover;
  text-decoration: none;
}
.footer1-text30 {
  fill: var(--dl-color-default-texttertiary);
  color: var(--dl-color-default-texttertiary);
  margin-top: 5px;
}

@media(max-width: 1600px) {
  .footer1-text30 {
    fill: #999998ff;
    color: #999998ff;
  }
}
