.header1-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.header1-default-header {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 12px 0;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.header1-logos-portswigger {
  width: 249px;
  height: 42px;
}
.header1-navigation {
  gap: 40px;
  display: flex;
  align-items: center;
}
.header1-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header1-text1 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  margin-right: var(--dl-space-space-halfunit);
}
.header1-chevron-down1 {
  width: 16px;
  height: 16px;
}
.header1-container3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header1-text2 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  margin-right: var(--dl-space-space-halfunit);
}
.header1-chevron-down2 {
  width: 16px;
  height: 16px;
}
.header1-text3 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  margin-right: 0px;
}
.header1-text4 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  margin-right: 0px;
}
.header1-container4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header1-text5 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  margin-right: var(--dl-space-space-halfunit);
}
.header1-chevron-down3 {
  width: 16px;
  height: 16px;
}
.header1-container5 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header1-text6 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  margin-right: var(--dl-space-space-halfunit);
}
.header1-chevron-down4 {
  width: 16px;
  height: 16px;
}
.header1-button {
  gap: 8px;
  height: 40px;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 102, 51, 1);
}
.header1-text7 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
}
