.secondary-button-light-container141 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.secondary-button-light-button7 {
  gap: 8px;
  width: auto;
  height: auto;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-text-text-linkorange);
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.secondary-button-light-text177 {
  fill: var(--dl-color-text-text-linkorange);
  color: var(--dl-color-text-text-linkorange);
}
.secondary-button-light-chevron-right7 {
  width: 16px;
  height: 16px;
}



.header-dark-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.header-dark-default-header {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 12px 0;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.header-dark-logos-portswigger {
  width: 249px;
  height: 42px;
}
.header-dark-navigation {
  gap: 40px;
  display: flex;
  align-items: center;
}
.header-dark-container1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-dark-text {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  margin-right: var(--dl-space-space-halfunit);
}
.header-dark-chevron-down {
  width: 16px;
  height: 16px;
}
.header-dark-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-dark-text1 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  margin-right: var(--dl-space-space-halfunit);
}
.header-dark-chevron-down1 {
  width: 16px;
  height: 16px;
  background-size: cover;
  background-image: url("public/chevron%20down.svg");
}
.header-dark-text2 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  margin-right: 0px;
}
.header-dark-text3 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  margin-right: 0px;
}
.header-dark-container3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-dark-text4 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  margin-right: var(--dl-space-space-halfunit);
}
.header-dark-chevron-down2 {
  width: 16px;
  height: 16px;
}
.header-dark-container4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-dark-text5 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  margin-right: var(--dl-space-space-halfunit);
}
.header-dark-chevron-down3 {
  width: 16px;
  height: 16px;
}
.header-dark-root-class-name {
  margin-top: 32px;
  margin-bottom: 32px;
}
.header-dark-root-class-name1 {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #3098F0;
}
.header-dark-root-class-name2 {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #3098F0;
}
.header-dark-root-class-name3 {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #635CD5;
}
