.headshot-set-of-3-container1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  min-width: 250px;
  min-height: 100%;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  justify-content: flex-start;
}
.headshot-set-of-3-image {
  width: 200px;
  object-fit: cover;
}
.headshot-set-of-3-text1 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  align-self: center;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.headshot-set-of-3-container2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.headshot-set-of-3-text2 {
  fill: var(--dl-color-text-text-linkorange);
  color: var(--dl-color-text-text-linkorange);
  margin-right: var(--dl-space-space-halfunit);
}
.headshot-set-of-3-chevron-down {
  width: 16px;
  height: 16px;
}
.headshot-set-of-3root-class-name {
  width: 100%;
}
.headshot-set-of-3root-class-name1 {
  width: 100%;
}
.headshot-set-of-3root-class-name2 {
  width: 100%;
}
.headshot-set-of-3root-class-name3 {
  width: 100%;
}
.headshot-set-of-3root-class-name4 {
  width: 100%;
}
.headshot-set-of-3root-class-name5 {
  width: 100%;
}
