.primary-button-dark-container2951 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.primary-button-dark-button174 {
  gap: 8px;
  width: auto;
  height: auto;
  display: flex;
  padding: 12px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-width: 0px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 102, 51, 1);
}
.primary-button-dark-text3731 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
.primary-button-dark-chevron-right145 {
  width: 16px;
  height: 16px;
}
.primary-button-dark-root-class-name {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-dark-root-class-name1 {
  width: 100%;
}
.primary-button-dark-root-class-name2 {
  width: 100%;
}

.primary-button-dark-root-class-name4 {
  width: 100%;
}

.primary-button-dark-root-class-name6 {
  width: 100%;
}
.primary-button-dark-root-class-name7 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}


.primary-button-dark-root-class-name10 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-dark-root-class-name11 {
  margin-bottom: 80px;
}
.primary-button-dark-root-class-name12 {
  margin-bottom: 80px;
}
.primary-button-dark-root-class-name13 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-dark-root-class-name14 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}

.hero-banner-light-container {
  width: 1140px;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.hero-banner-light-container1 {
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.hero-banner-light-container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits);
  padding-right: 40px;
  flex-direction: column;
}
.hero-banner-light-text {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  width: 100%;
  align-self: flex-start;
  text-align: left;
  margin-bottom: 20px;
}
.hero-banner-light-text1 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-align: left;
  margin-bottom: 20px;
}
.hero-banner-light-tasksubmenu2 {
  width: 461px;
  height: 374px;
}
