.primary-button-light-wrapper {
  display: contents;
}
.primary-button-light-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.primary-button-light-button {
  gap: 8px;
  width: auto;
  height: auto;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  flex-shrink: 0;
  border-width: 0px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 102, 51, 1);
}
.primary-button-light-chevron-right {
  width: 16px;
  height: 16px;
}
.hero-banner-light-fragment {
  display: contents;
}
.hero-banner-light-text3 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  font-stretch: normal;
  letter-spacing: 0em;
}
.primary-button-lightroot-class-name {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-lightroot-class-name1 {
  width: 100%;
}
.primary-button-lightroot-class-name2 {
  width: 100%;
}

.primary-button-lightroot-class-name4 {
  width: 100%;
}

.primary-button-lightroot-class-name6 {
  width: 100%;
}
.primary-button-lightroot-class-name7 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-lightroot-class-name10 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-lightroot-class-name11 {
  margin-bottom: 80px;
}
.primary-button-lightroot-class-name12 {
  margin-bottom: 80px;
}
.primary-button-lightroot-class-name13 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-lightroot-class-name14 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-lightroot-class-name15 {
  width: 100%;
  margin-top: var(--dl-space-space-unit);
}
.primary-button-lightroot-class-name16 {
  margin-bottom: 80px;
}
.primary-button-lightroot-class-name17 {
  margin-bottom: 80px;
}








@media(max-width: 360px) {
  .primary-button-light-container {
    width: 100%;
  }
}

.hero-banner-light-container1 {
  width: 1140px;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.hero-banner-light-container2 {
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.hero-banner-light-container3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits);
  padding-right: 40px;
  flex-direction: column;
}
.hero-banner-light-text1 {
  fill: var(--dl-color-text-text-headingnavy);
  color: var(--dl-color-text-text-headingnavy);
  width: 100%;
  align-self: flex-start;
  text-align: left;
  margin-bottom: 20px;
}
.hero-banner-light-text2 {
  fill: var(--dl-color-text-text-bodyprimary);
  color: var(--dl-color-text-text-bodyprimary);
  text-align: left;
  margin-bottom: 20px;
}
.hero-banner-light-fragment {
  display: contents;
}
.hero-banner-light-text3 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  font-stretch: normal;
  letter-spacing: 0em;
}
.hero-banner-light-tasksubmenu2 {
  width: 461px;
  height: 374px;
}
