.secondary-button-dark-container2430 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.secondary-button-dark-button143 {
  gap: 8px;
  width: auto;
  height: auto;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 8px;
  justify-content: center;
  background-color: transparent;
}
.secondary-button-dark-text3079 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
}
.secondary-button-dark-root-class-name {
  margin-right: 20px;
}

.secondary-button-dark-root-class-name2 {
  margin-right: 20px;
}


.hero-banner-dark-container {
  width: 1140px;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.hero-banner-dark-container1 {
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.hero-banner-dark-container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits);
  padding-right: 40px;
  flex-direction: column;
}
.hero-banner-dark-text {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  width: 100%;
  align-self: flex-start;
  text-align: left;
  margin-bottom: 20px;
}
.hero-banner-dark-text1 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  text-align: left;
  margin-bottom: 20px;
}
.hero-banner-dark-tasksubmenu2 {
  width: 461px;
  height: 374px;
}
.hero-banner-dark-root-class-name {
  margin-top: 40px;
  margin-bottom: 40px;
}
.hero-banner-dark-root-class-name1 {
  margin-top: 40px;
  margin-bottom: 40px;
}
