.img-left-container1 {
  width: 1200px;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.img-left-container2 {
  gap: var(--dl-space-space-sixunits);
  width: 1200px;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-sixunits);
  animation-name: none;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: flex-end;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.img-left-image {
  width: 941px;
  height: 671px;
  object-fit: cover;
}
.img-left-container3 {
  flex: 0 0 auto;
  width: 410px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.img-left-fragment1 {
  display: contents;
}
.img-left-text3 {
  display: inline-block;
}
.img-left-fragment2 {
  display: contents;
}
.img-left-text4 {
  display: inline-block;
  margin-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 1200px) {
  .img-left-container2 {
    width: 1000px;
    height: auto;
  }
  .img-left-image {
    width: 963px;
    height: 687px;
  }
}
@media(max-width: 991px) {
  .img-left-container2 {
    width: 900px;
  }
  .img-left-image {
    width: 722px;
    height: 515px;
  }
}
@media(max-width: 767px) {
  .img-left-container2 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}
@media(max-width: 360px) {
  .img-left-container1 {
    width: 90%;
  }
  .img-left-image {
    width: 90%;
    height: 256px;
    margin-top: var(--dl-space-space-twounits);
  }
  .img-left-container3 {
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  .img-left-text3 {
    font-size: 18px;
    text-align: center;
    line-height: 140%;
    letter-spacing: 0%;
  }
  .img-left-text4 {
    width: 100%;
    font-size: 28px;
    text-align: center;
    line-height: 140%;
    letter-spacing: 0%;
  }
}
