.input-field-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.input-field-field {
  gap: 5px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.input-field-input {
  gap: 10px;
  color: rgba(29, 28, 26, 1);
  display: flex;
  padding: 5px 10px;
  font-size: 16px;
  align-self: stretch;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Roboto;
  font-weight: 400;
  border-color: rgba(160, 160, 161, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.input-fieldroot-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name4 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name5 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name6 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name7 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name8 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}



.input-fieldroot-class-name12 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name13 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name14 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name15 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name16 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name17 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name18 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name19 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name20 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name21 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name22 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name23 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name24 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name25 {
  fill: var(--dl-color-text-white);
  color: var(--dl-color-text-white);
  width: 370px;
  margin-bottom: var(--dl-space-space-twounits);
}
.input-fieldroot-class-name26 {
  fill: var(--dl-color-text-white);
  color: var(--dl-color-text-white);
  width: 370px;
  margin-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 1600px) {
  .input-fieldroot-class-name {
    margin-top: var(--dl-space-space-unit);
  }
  .input-fieldroot-class-name2 {
    fill: var(--dl-color-default-white);
    color: var(--dl-color-default-white);
    margin-top: var(--dl-space-space-unit);
  }
  .input-fieldroot-class-name3 {
    fill: var(--dl-color-default-white);
    color: var(--dl-color-default-white);
  }
  .input-fieldroot-class-name4 {
    margin-top: var(--dl-space-space-unit);
  }
  .input-fieldroot-class-name5 {
    fill: var(--dl-color-default-white);
    color: var(--dl-color-default-white);
  }
  .input-fieldroot-class-name6 {
    margin-top: var(--dl-space-space-unit);
  }
  .input-fieldroot-class-name12 {
    margin-top: var(--dl-space-space-unit);
  }
  .input-fieldroot-class-name15 {
    margin-top: var(--dl-space-space-unit);
  }
  .input-fieldroot-class-name17 {
    margin-top: var(--dl-space-space-unit);
  }
  .input-fieldroot-class-name18 {
    margin-top: var(--dl-space-space-unit);
  }
  .input-fieldroot-class-name23 {
    margin-top: var(--dl-space-space-unit);
  }
  .input-fieldroot-class-name25 {
    margin-top: var(--dl-space-space-unit);
  }
}
