.list-item-with-icon-dark4-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.list-item-with-icon-dark4-frame1 {
  gap: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.list-item-with-icon-dark4-check-in-circle-outlined {
  width: 24px;
  height: 24px;
}
.list-item-with-icon-dark4-text {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
.list-item-with-icon-dark4root-class-name {
  margin-bottom: var(--dl-space-space-twounits);
}
.list-item-with-icon-dark4root-class-name1 {
  margin-bottom: var(--dl-space-space-twounits);
}

.list-item-with-icon-dark4root-class-name3 {
  margin-bottom: var(--dl-space-space-twounits);
}
.list-item-with-icon-dark4root-class-name4 {
  margin-bottom: var(--dl-space-space-twounits);
}

.list-item-with-icon-dark4root-class-name6 {
  margin-bottom: var(--dl-space-space-twounits);
}
.list-item-with-icon-dark4root-class-name7 {
  margin-bottom: var(--dl-space-space-twounits);
}

.list-item-with-icon-dark4root-class-name9 {
  margin-bottom: var(--dl-space-space-twounits);
}
.list-item-with-icon-dark4root-class-name10 {
  margin-bottom: var(--dl-space-space-twounits);
}

.list-item-with-icon-dark4root-class-name12 {
  margin-bottom: var(--dl-space-space-twounits);
}
.list-item-with-icon-dark4root-class-name13 {
  margin-bottom: var(--dl-space-space-twounits);
}

.list-item-with-icon-dark4root-class-name15 {
  margin-bottom: var(--dl-space-space-twounits);
}
.list-item-with-icon-dark4root-class-name16 {
  margin-bottom: var(--dl-space-space-twounits);
}
.list-item-with-icon-dark4root-class-name17 {
  margin-bottom: var(--dl-space-space-twounits);
}

.list-item-with-icon-dark4root-class-name19 {
  margin-bottom: var(--dl-space-space-unit);
}
.list-item-with-icon-dark4root-class-name20 {
  margin-bottom: var(--dl-space-space-twounits);
}
.list-item-with-icon-dark4root-class-name21 {
  margin-bottom: var(--dl-space-space-unit);
}
.list-item-with-icon-dark4root-class-name23 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 1600px) {
  .list-item-with-icon-dark4root-class-name17 {
    fill: var(--dl-color-theme-neutral-dark);
    color: var(--dl-color-theme-neutral-dark);
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 991px) {
  .list-item-with-icon-dark4-frame1 {
    gap: 10px;
  }
  .list-item-with-icon-dark4root-class-name {
    margin-right: var(--dl-space-space-twounits);
  }
  .list-item-with-icon-dark4root-class-name1 {
    margin-right: var(--dl-space-space-twounits);
  }
  .list-item-with-icon-dark4root-class-name19 {
    margin-right: var(--dl-space-space-twounits);
  }
  .list-item-with-icon-dark4root-class-name20 {
    margin-right: var(--dl-space-space-twounits);
  }
  .list-item-with-icon-dark4root-class-name21 {
    margin-right: var(--dl-space-space-twounits);
  }
  .list-item-with-icon-dark4root-class-name23 {
    margin-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .list-item-with-icon-dark4root-class-name {
    margin-bottom: var(--dl-space-space-unit);
  }
  .list-item-with-icon-dark4root-class-name1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .list-item-with-icon-dark4root-class-name19 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .list-item-with-icon-dark4root-class-name20 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .list-item-with-icon-dark4root-class-name21 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .list-item-with-icon-dark4root-class-name23 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
