.list-item-with-icon-dark1-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.list-item-with-icon-dark1-frame1 {
  gap: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.list-item-with-icon-dark1-check-in-circle-outlined {
  width: 24px;
  height: 24px;
}
.list-item-with-icon-dark1-text {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
.list-item-with-icon-dark1root-class-name {
  margin-bottom: 32px;
}
.list-item-with-icon-dark1root-class-name1 {
  margin-bottom: 32px;
}

.list-item-with-icon-dark1root-class-name3 {
  margin-bottom: 32px;
}
.list-item-with-icon-dark1root-class-name4 {
  margin-bottom: 32px;
}

.list-item-with-icon-dark1root-class-name6 {
  margin-bottom: 32px;
}
.list-item-with-icon-dark1root-class-name7 {
  margin-bottom: 32px;
}

.list-item-with-icon-dark1root-class-name9 {
  margin-bottom: 32px;
}
.list-item-with-icon-dark1root-class-name10 {
  margin-bottom: 32px;
}

.list-item-with-icon-dark1root-class-name12 {
  margin-bottom: 32px;
}
.list-item-with-icon-dark1root-class-name13 {
  margin-bottom: 32px;
}

.list-item-with-icon-dark1root-class-name15 {
  margin-bottom: 32px;
}
.list-item-with-icon-dark1root-class-name16 {
  margin-bottom: 32px;
}

