.quotation-large-dark-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.quotation-large-dark-frame5519 {
  gap: 30px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 80px 30px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.quotation-large-dark-text {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  width: 900px;
}
.quotation-large-dark-text1 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
  width: 900px;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.quotation-large-dark-root-class-name {
  margin-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 1600px) {
  .quotation-large-dark-root-class-name {
    margin-bottom: var(--dl-space-space-twounits);
  }
}
