.secondary-button-light-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-text-text-linkorange);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-default-white);
}
@media(max-width: 360px) {
  .secondary-button-light-container {
    width: 100%;
  }
}
